.play-now-button {
    cursor: pointer;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    font-weight: 600;
    background-color: white;
    color: var(--safron-mango-dark);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-now-button:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease;
}

.todays-tab {
    background-color: var(--safron-mango-dark);
    /* color: var(--dark-slate-gray-dark); */
}