@import "tailwindcss";
@plugin "daisyui";


:root {
  --sandy-brown-light: #f5b881;
  --sandy-brown: #f4a462;
  --sandy-brown-dark: #c36c00;

  --jungle-green-light: #49b9aa;
  --jungle-green: #2a9d90;
  --jungle-green-dark: #1a766a;

  --blue-dianne: #274754;
  --blue-dianne-light: #3e5f70;
  --blue-dianne-dark: #274754;


  --burnt-sienna: #e76e50;
  --burnt-sienna-light: #f08a69;
  --burnt-sienna-dark: #a34e34;

  --safron-mango: #f9c54e;
  --safron-mango-light: #ffd5ae;
  --safron-mango-dark: #faa035;

  --dark-slate-gray: #2a2a2a;
  --dark-slate-gray-dark: #1e1e1e;
  --dark-slate-gray-light: #3d3d3d;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

/* index.css */
/* Light */
@font-face {
  font-family: 'HeadingNow';
  src: url('./assets/fonts/HeadingNow-Regular.ttf') format('truetype');
  font-weight: 300;
  /* Peso numérico para light */
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'HeadingNow';
  src: url('./assets/fonts/HeadingNow-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Peso numérico para normal/regular */
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'HeadingNow';
  src: url('./assets/fonts/HeadingNow-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  /* Mismo peso que regular pero con estilo italic */
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'HeadingNow';
  src: url('./assets/fonts/HeadingNow-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Peso numérico para bold */
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'HeadingNow';
  src: url('./assets/fonts/HeadingNow-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  /* Mismo peso que bold pero con estilo italic */
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'HeadingNow', sans-serif;
}

.stamp-border {
  /* Change this value to adjust the stamp perforation size: */
  --radius: 6px;


  background-image:
    radial-gradient(var(--radius),
      transparent 98%,
      var(--safron-mango-light)),
    linear-gradient(var(--safron-mango-light) 0 0);
  background-repeat:
    round,
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}