name: Build and deploy Vite/React app to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CI: false
  NODE_ENV: production

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install All dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm cache clean --force
          npm install --legacy-peer-deps --include=dev

      - name: Show env
        run: echo "API = $VITE_API_URL"
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
          
      - name: Build Vite app
        run: npm run build
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}

      - name: List build contents (para debug)
        run: ls -la dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vite-app
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: vite-app
          path: . 

      - name: List files before deploy (debug)
        run: ls -la

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_44642E7CBCC34EB98A837C57E40CCCD8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_695D861EE05F496FA568F7460A950712 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2F01EEC5BAC84C3FBE3428251AD49DA5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'UkuFrontend'
          slot-name: 'Production'
          package: .