@import "tailwindcss";

.header-button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
}

.header-button:hover {
    background-color: var(--dark-slate-gray-light);
    color: var(--safron-mango-dark);
    /* border-radius: 80px; */
}

/* Sidebar animation styles */
.sidebar-container {
    transition: transform 0.3s ease-in-out;
}

.sidebar-container.slide-in {
    transform: translateX(0);
}

.sidebar-container.slide-out {
    transform: translateX(-100%);
}